body {
  font-family: "Roboto", sans-serif;
  display: flex;
  background-color: #fafafa;
  width: 1024px;
  margin: 0 auto;
}

.container {
  width: 1024px;
  margin: 0 auto;
}

img {
  width: 137px;
  height: 38px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  margin-bottom: 20px;
}

/* .container {
  width: 900px;
  margin: 0;
  /* padding: 30px; */
/* } */

.subheader {
  width: 1024px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  width: 220px;
  height: 44px;
  background-color: #4183d7;
  border-radius: 10px;
}

input {
  width: 320px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
/* .login {
  font-size: 16px;
}

.search {
  font-size: 16px; */
.pictures img {
  width: 160px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.card {
  width: 1000px;
  height: 150px;
  border-radius: 10px;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px lightgray;
  margin-bottom: 10px;
  text-decoration: none;
}

.offer {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px 3px lightgray;
}

.pictureoffer img {
  width: 700px;
  height: 390px;
  align-content: center;
  justify-content: center;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 26px;
  line-height: 30px;
}

.price {
  font-size: 20px;
  line-height: 23px;
}

.date {
  font-size: 16px;
  line-height: 22px;
}

.description {
  font-size: 19px;
  background-color: lightgrey;
  margin-top: 0;
  border-radius: 10px;
}

.offerdescription {
  color: black;
}
