body {
  font-family: "Roboto", sans-serif;
  background-color: #fafafa;
  margin: 0 auto;
}

.containeroffers {
  width: 1000px;
  height: 180px;
  margin: 0 auto;
  position: relative;
}

.containeroffer {
  width: 700px;
  height: 607px;
  margin: 0 auto;
}

.header img {
  width: 137px;
  height: 38px;
  margin-left: 170px;
}

.connecter {
  /*   margin-right: 190px; */
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 18px;
  color: #000000;
}

.depotannonce {
  background-color: #f56b2b;
  font-size: 16px;
  line-height: 39px;
  text-align: center;
  width: 204px;
  height: 39px;
  border-radius: 10px;
}

.depotannonce span {
  text-align: center;
  justify-content: center;
  vertical-align: middle;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.header {
  display: flex;
  width: 100%;
  height: 80px;
  justify-content: space-between;
  align-items: center;
  /*   padding: 20px 20px 20px 20px; */
  margin-bottom: 20px;
}

.main {
  width: 1440px;
  height: 80px;
  background-color: lightgray;
  padding-left: 20px;
  padding-right: 150px;
}
/* .container {
  width: 900px;
  margin: 0;
  /* padding: 30px; */
/* } */

.rechercher {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000000;
  margin-right: 0;
}

.subheader {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

.subheader button,
.subheader input {
  margin-left: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: #ffffff;
}

.subheader input {
  padding-left: 10px;
}

button {
  width: 220px;
  height: 44px;
  background-color: #4183d7;
  border-radius: 10px;
}

input {
  width: 320px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
/* .login {
  font-size: 16px;
}


.search {
  font-size: 16px; */
.pictures img {
  width: 160px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.card {
  width: 1000px;
  height: 180px;
  border-radius: 10px;
  display: flex;
  border-radius: 10px;
  box-shadow: 3px 3px 3px 3px lightgray;
  margin-top: 15px;
  text-decoration: none;
  align-items: center;
}

.offer {
  border-radius: 10px;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 3px 3px 3px 3px lightgray;
}

.pictureoffer img {
  width: 700px;
  height: 390px;
  align-content: center;
  justify-content: center;
  object-fit: cover;
  margin: 0 auto;
  display: block;
  margin: 0 auto;
}

.title {
  font-size: 26px;
  line-height: 30px;
}

.price {
  font-size: 20px;
  line-height: 23px;
}

.date {
  font-size: 16px;
  line-height: 22px;
}

.description {
  font-size: 19px;
  margin-top: 20px;
  border-radius: 10px;
  font-style: normal;
  font-weight: normal;
  font-size: 19px;
  line-height: 140%;
}

.offerdescription {
  color: black;
}

.description p {
  margin-top: 20px;
  font-weight: bold;
}

.description span {
  font-size: 17px;
}

.footer {
  background: grey;
  width: 100%;
  height: 60px;
  font-size: 19px;
  line-height: 60px;
  margin-top: 50px;
  padding: 0;
  text-align: center;
}

.signup {
  margin-top: 80px;
  margin-left: 20px;
  position: relative;
  float: right;
  margin-right: 20px;
}

.iconplus {
  color: white;
}

.titleoffers,
.dateoffers,
.title {
  font-style: normal;
  font-weight: normal;
  font-size: 22px;
  line-height: 26px;
  color: #000000;
  padding: 10px;
}

.priceoffers,
.price {
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #f56b2a;
  padding-top: 10px;
  padding: 10px;
}

.dateoffers,
.date {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 140%;
  color: #000000;
  padding-top: 40px;
  padding: 10px;
}

.filter {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.filter input {
  width: 61px;
  height: 19px;
  padding: 5px;
  margin: 0 auto;
}

.tri input {
  width: 220px;
  height: 32px;
  padding: 5px;
  margin: 0 auto;
}
