body {
  font-family: "Roboto", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

img {
  width: 137px;
  height: 38px;
}

.header {
  display: flex;
  justify-content: space-between;
  background-color: lightgrey;
  margin-bottom: 20px;
}

.container {
  width: 900px;
  margin: 0;
  /* padding: 30px; */
  background-color: orange;
}

.subheader {
  width: 1024px;
  background-color: white;
  border-radius: 10px;
  margin-bottom: 20px;
}

button {
  width: 220px;
  height: 44px;
  background-color: #4183d7;
  border-radius: 10px;
}

input {
  width: 320px;
  height: 44px;
  border-radius: 10px;
  border: 1px solid lightgray;
}
/* .login {
  font-size: 16px;
}

.search {
  font-size: 16px; */
.pictures img {
  width: 160px;
  height: 140px;
  object-fit: cover;
  border-radius: 10px;
  margin-right: 20px;
}

.card {
  border-radius: 10px;
  display: flex;
  border-radius: 10px;
  background-color: #ffe8df;
  margin-bottom: 10px;
}
